<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

<header>
    <div class="">
        Logo
    </div>
    <div class="">
        navigation
    </div>
</header>

<main>
    <section>
        <form class="" onsubmit="return handleSubmit(event)">
            <input id="lang" type="text" name="input" value="" onblur="" placeholder="language" required="required">
            <input id="url" type="url" name="input" value="" onblur="" placeholder="url" required="required">
            <input id="generate" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                   onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>

    <section>
        <div id="results">
            <div class="flex-container">
                <div><strong>Model for evaluation:</strong></div>
                <div><strong>Agreement detected in the tex:</strong></div>
                <div><strong>Irony of the text:</strong></div>
                <div><strong>Polarity of the text:</strong></div>
            </div>
            <div class="flex-container">
                <div id="model"></div>
                <div id="agreement"></div>
                <div id="irony"></div>
                <div id="polarity"></div>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>This is a footer</p>
</footer>

</body>
</html>
