#results {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  height: 231px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  float: left;
}

.flex-container div {
  display: flex;
  padding-top: 15px;
  text-transform: lowercase;
  font-family: Arial;
  font-size: 13.3333px;
  padding-right: 20px;
}

